{{#> base title="Verify Your Email Address"}}
    <p>Hello {{username}},</p>
    
    <p>Welcome to Adopt-e! We're excited to have you on board. To get started, please verify your email address by clicking the button below:</p>
    
    <div style="text-align: center;">
        <a href="{{verificationLink}}" class="button">Verify Email Address</a>
    </div>
    
    <p>This link will expire in 24 hours. If you don't verify your email within this time, you'll need to request a new verification link.</p>
    
    <p>If you didn't create an account on Adopt-e, you can safely ignore this email.</p>
    
    <p>Best regards,<br>The Adopt-e Team</p>
{{/base}} 